.as-header-margin {
	margin-top: 70px;
}

.as-margin-blocks {
	margin-left: 20px;
	margin-right: 20px;
}

.as-header-logo {
	margin-top: 10px;
}

.as-header-row {
	background-color: #3a92c8;
}

.as-header-links {
	color: #fff;
}